article img {
  float: right;
}

header {
  background: #4276B6;
  text-align: center;
  h1 {
    color: #F3F3F3;
    text-shadow: 0 2px 0 #235796;
    font: 40px/48px Copse,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  p {
    color: #D8D8D8;
    text-shadow: rgba(0, 0, 0, 0.2)0 1px 0;
    font-size: 18px;
    margin: 0;
  }
}
nav {
  background: #fc0 url('/images/octocat-logo.png') no-repeat;
  width: unit(36/16, em);
  height: unit(36/16, em);
  position: absolute;
  margin: 0.5em;
  top: 0;
  left: 0;
  border-radius: 0.25em;
  border: 1px solid #F0B500;
  ul {
    display: none;
    list-style: none;
    li {
      display: inline;
    }
  }
}