article img
  float right

header
  background #4276B6
  h1
    color #F3F3F3
    text-shadow 0 2px 0 #235796
    font 40px/48px Copse,"Helvetica Neue",Helvetica,Arial,sans-serif
    margin 0
    white-space nowrap
    overflow hidden;
    text-overflow ellipsis;
    -o-text-overflow ellipsis;
    -ms-text-overflow ellipsis;
  p
    color #D8D8D8
    text-shadow rgba(0, 0, 0, 0.2)0 1px 0
    font-size 18px
    margin 0
nav
  ul
    list-style none
    li
      display inline