/*
16    1/1
15   15/16
14    7/8
13   13/16
12   12/16
11   11/16
10    5/8
9     9/16
8     1/2
7     7/16
6     3/8
5     5/16
4     1/4
3     3/16
2     1/8
1     1/16
*/



article img {
  float: right;
}

a, a:visited {
  color: #FC0;
  text-decoration: none;
}

a:hover {
  color: #4276B6;
}

p > code {
  background-color: #f3f3f3;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

pre {
  box-shadow: inset 0 0 1em #f3f3f3;
  padding: 1em;
}

section {
  padding: 1em;
}

footer {
  background: lightgray;
  padding: 0.5em;
  font-size: 0.75em;
}

header {
  background: #4276B6;
  text-align: center;
  h1 {
    color: #F3F3F3;
    text-shadow: 0 2px 0 #235796;
    font: 40px/48px Copse,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  p {
    color: #D8D8D8;
    text-shadow: rgba(0, 0, 0, 0.2)0 1px 0;
    font-size: 18px;
    margin: 0;
  }

}
a.navtoggle {
  background: #fc0 url('../images/octocat-logo.png') center center;
  width: unit(36/16, em);
  height: unit(36/16, em);
  position: absolute;
  margin: unit((48-36)/16,em);
  top: 0;
  left: 0;
  border-radius: 0.25em;
  border: 1px solid #F0B500;
  text-indent: -1000em;
}
nav {
  max-width: 300em;
  margin: 0 auto;
  display: none;
  position: relative;
  background: #fc0;
  width: 100%;
  z-index: 4;
  padding-bottom: 1em;
  ul {
    padding: 1em 0 0 2em;
    list-style: none;
    li {
      display: block;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

      margin-right: 2em;
      position: relative;
      text-transform: uppercase;
      text-align: left;
      border-bottom: 1px solid #DBA500;
      a.menuitem {
        display: block;
        color: #FFF;
        font-size: 1.8em;
        line-height: 2em;
        font-weight: normal;
        text-decoration: none;
      }
      input {
        background: #FFF68B;
        border: solid 1px #E2BE00;
        width: 100%;
        line-height: 2em;
        margin-bottom: 0.25em;
      }
    }
  }
}

nav.expanded {
  display: block;
}

@media (min-width: 48em) {
  header {

    a.navtoggle {
      display: none;
    }
  }
  nav {
    display: block;
    background: #fc0 url('../images/octocat-logo.png') right center no-repeat;
    position: relative;
    top: 0.75em;
    bottom: auto;
    padding: 0;
    
    /*
    min-width: 48em;
    width: 75%;
    
    */
    height: 36px;
    ul {
      display: inline;
      float:left;
      margin: 0.5em 0 0.5em 1em;
      padding: 0;
      li {
        font-size: 1em/1em;
        border: 0;
        display: inline;
        text-transform: none;
        a.menuitem, input {
          display: inline;
          font-size: 1em;
          line-height: 1.25em;
          font-weight: normal;
          text-decoration: none;
        }
        input {
          width: 16em;
        }
      }
    }
  }
  section {
    width: 46em;
    margin: 0 auto;
  }
  
  footer {
    p {
      margin: 0 auto;
      width: 64em;
    }
  }
}