extends layout
block seo
  title adicirstei blog post list
  meta(name='description', content='adicirstei blog post list on node.js javascript and other technology related things')
block content
  h1.skip recent blog posts
  - var lastdate =''
  each p in posts
    - if (lastdate !== p.date)
      date= p.date
      - lastdate = p.date
    h2
      a(href='/posts/' +p.file)= p.title
    