extends layout
block content
  h1.skip recent blog posts
  - var lastdate =''
  each p in posts
    - if (lastdate !== p.date)
      date= p.date
      - lastdate = p.date
    h2
      a(href='/posts/' +p.file)= p.title
    