doctype html
html(lang="en")
  head
    title pageTitle
  body
    block header
      ul
        li abcd
        li xyz
    block content
      :markdown
        ## un h2
        ### some javascript
        
        ```js
        var fn = function (x) {
          return (x + 3) * 5;
        }
        ```
        
        ### some python
        
        ```py
        x = [x * 2 for x in [1..4]]
        ```
    block footer
      p copyright je
      