doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    title adicirstei
    link(rel='stylesheet', href='/styles/styles.css')
    link(rel='stylesheet', href='/styles/pygment_trac.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/scripts/main.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  body
    block header
      header
        h1 adicirstei
        p backend developper
      #banner
        span#logo
        a.button.fork(href='https://github.com/adicirstei/adicirstei.github.io')
          strong View On GitHub
        .downloads
          span Downloads:
          ul
            li
              a.button(href='https://codeload.github.com/adicirstei/adicirstei.github.io/zipball/source') ZIP
            li
              a.button(href='https://codeload.github.com/adicirstei/adicirstei.github.io/tarball/source') TAR
        .wrapper
          nav
            ul
          section
            block content

    block footer
      footer
        p Project maintained by 
          a(href='https://github.com/adicirstei') adicirstei
        p 
          small Hosted on GitHub Pages &mdash; Theme by 
            a(href='https://twitter.com/michigangraham') mattgraham
      script(type='text/javascript')
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      script(type='text/javascript')
        try {
          var pageTracker = _gat._getTracker("UA-3192288-13");
          pageTracker._trackPageview();
        } catch(err) {}
      